html { font-family: sans-serif; background: #eee; padding: 1rem; }
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
table {
    background: #ffffff;
    font-size: 80%;
}