<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Docker Test Application and CI/CD Demo</title>
</head>

<body>

<h1>Hello, Container-World!</h1>
<p>Diese App dient nur zu Demonstrationszwecken und ist ansonsten für nichts zu gebrauchen.</p>

<p>Hostname/Container-ID: {{ data.hostname }}</p>
<p>Client-IP: {{ data.client_ip }}</p>
{% if data.x_forwarded_ip != '0' %}
    <p>Metallb hides the original IP, but we find it in HTTP_X_ORIGINAL_FORWARDED_FOR</p>
    <p>HTTP_X_ORIGINAL_FORWARDED_FOR: {{ data.x_forwarded_ip }}</p>
{% endif %}
<h2>Python version</h2>
<p>{{ data.python_version }}</p>

<h2>OS Environment Variables</h2>
<table>
    <tbody>
    {% for k,v in data.os_env|dictsort %}
        <tr>
            <td>{{ k }}</td>
            <td> {{ v }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

<h2>Request Environment Variables</h2>
<table>
    <tbody>
    {% for k,v in data.request_env|dictsort %}
        <tr>
            <td>{{ k }}</td>
            <td> {{ v }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

</body>
</html>