<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Docker Test Application</title>
</head>

<body>

<h1>Hello, World!</h1>
<p>Hostname/Container-ID: {{ data.hostname }}</p>
<p>Client-IP: {{ data.client_ip }}</p>

<h2>OS Environment Variables</h2>
<table>
    <tbody>
    {% for k,v in data.os_env|dictsort %}
        <tr>
            <td>{{ k }}</td>
            <td> {{ v }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

<h2>Request Environment Variables</h2>
<table>
    <tbody>
    {% for k,v in data.request_env|dictsort %}
        <tr>
            <td>{{ k }}</td>
            <td> {{ v }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

</body>
</html>